.church-website {
  font-family: Arial, sans-serif;
}

.header {
  padding: 20px;
}

.header-title {
  margin: 0;
}

.header-nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between; /* Distribute links evenly */
}

.header-nav-item {
  margin-right: 20px;
}

.header-nav-link {
  color: #333;
  text-decoration: none;
}

.home-section,
.about-section,
.services-section,
.contact-section {
  padding: 40px;
  text-align: center;
  max-width: 800px; /* Set a maximum content width */
  margin: 0 auto; /* Center the content horizontally */
}

.home-title 
.about-title,
.services-title,
.contact-title {
  margin-bottom: 10px;
}

.home-text,
.about-text,
.contact-text {
  margin-bottom: 20px;
}

.home-button {
  background-color: #333;
  color: #ffd700;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease; /* Add hover effect */
}

.home-button:hover {
  background-color: #222; /* Change background color on hover */
}

.about-link {
  color: #333;
  text-decoration: none;
}

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-item {
  margin-bottom: 10px;
}

.contact-info, 
.contact-title,
.contact-text,
.services-title {
  margin-bottom: 10px;
  color: white;
}

.footer {
  padding: 20px;
  text-align: center;
}

.footer-text {
  margin: 0;
}

.bg {
  background-image: url(./images/1.png);
  background-size: cover; /* Ensure image scales proportionally */
  display: flex;
  height: 150vh; /* Set background to viewport height */
}
